
@font-face {
  font-family: 'Knockout-29JuniorLtweight';
  src: url('Knockout-29JuniorLtweight.eot?#iefix') format('embedded-opentype'),  url('Knockout-29JuniorLtweight.otf')  format('opentype'),
	     url('Knockout-29JuniorLtweight.woff') format('woff'), url('Knockout-29JuniorLtweight.ttf')  format('truetype'), url('Knockout-29JuniorLtweight.svg#Knockout-29JuniorLtweight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Neutraface2Text-Book';
  src: url('Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-Book.otf')  format('opentype'),
	     url('Neutraface2Text-Book.woff') format('woff'), url('Neutraface2Text-Book.ttf')  format('truetype'), url('Neutraface2Text-Book.svg#Neutraface2Text-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Neutraface2Text-Bold';
  src: url('Neutraface2Text-Bold.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-Bold.otf')  format('opentype'),
	     url('Neutraface2Text-Bold.woff') format('woff'), url('Neutraface2Text-Bold.ttf')  format('truetype'), url('Neutraface2Text-Bold.svg#Neutraface2Text-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Neutraface2Text-Demi';
  src: url('Neutraface2Text-Demi.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-Demi.otf')  format('opentype'),
	     url('Neutraface2Text-Demi.woff') format('woff'), url('Neutraface2Text-Demi.ttf')  format('truetype'), url('Neutraface2Text-Demi.svg#Neutraface2Text-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Neutraface2Text-BookItalic';
  src: url('Neutraface2Text-BookItalic.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-BookItalic.otf')  format('opentype'),
	     url('Neutraface2Text-BookItalic.woff') format('woff'), url('Neutraface2Text-BookItalic.ttf')  format('truetype'), url('Neutraface2Text-BookItalic.svg#Neutraface2Text-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
