<!DOCTYPE html>
<html>
<head>
	<title>Rainforest | Achaur</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- css  -->
	<link href="../assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/media.css" rel="stylesheet" type="text/css">
	<link href="../assets/fonts/styles.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/meanmenu.min.css" rel="stylesheet" type="text/css">
	<!-- metatag-viewport  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body id="project_page">
<div class="layout">
<!-- header -->
	<header class="header">
		<div class="container">
			<div class="header-left">
				<div class="logo">
					<a href="#"><img src="../assets/images/logo.png" alt="logo"></a>
				</div>
				<div class="navigation">
					<nav class="nav">
						<ul>
							<li><a href="#">home</a></li>
							<li><a href="#">our model</a></li>
							<li><a href="#">projects</a>
								<ul>
									<li><a href="sanisla.html">SANISLA</a></li>
									<li><a href="chipaota.html">CHIPAOTA</a></li>
									<li><a href="colibri.html">COLIBRI</a></li>
									<li><a href="achuar.html">ACHUAR</a></li>
									<li><a href="#">EDUCATION INITIATIVE</a></li>
								</ul>
							</li>
							<li><a href="#">get involved</a></li>
							<li><a href="#">blog</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header-right">
				<div class="links">
					<ul>
						<li><a href="#">SUPPORT THE PEOPLE</a></li>
						<li><a href="#">SAVE THE RAINFOREST</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!--Banner2 section-->
	<section class="banner2">
		<img src="../assets/images/banner2_img.png" alt="Banner">
		<div class="banner_rel">
			<div class="container">
				<img src="../assets/images/achuar_img.png" alt="Achuar">
			</div>
		</div>
	</section>
	<!--Key Facts section-->
	<aside class="sidebar">
		<div class="facts_wrapper">
			<div class="key_facts">
				<h3>KEY FACTS</h3>
				<ul>
					<li>
						<h4 class="loc">Location</h4>
						<p>The Peruvian Achuar live on both sides of the Peru-Ecuador border along the headwaters of the Pastaza, Morona and Corrientes rivers basins.</p>
					</li>
					<li>
						<h4 class="loc">Land Size</h4>
						<p>2.2 million acres (in Peru), 0.9 million hectares.</p>
					</li>
					<li>
						<h4 class="pop">Population</h4>
						<p>The Peruvian Achuar are a community of only 12,200 individuals living in 44 distinct smaller communities and call an area of nearly 2.2 million acres of rainforest their home.</p>
					</li>
					<li>
						<h4 class="thr">Threat</h4>
						<p>Dire threats from oil companies exploring and drilling for oil deeper in this region impacting the community’s way of life and the rainforest’s biodiversity including countless species of fauna and flora.</p>
					</li>
					<li>
						<h4 class="thr">Threat</h4>
						<p>Due to their remote location, this indigenous community also does not have adequate access to essential services like education and developed healthcare.</p>
					</li>
					<li>
						<h4 class="pro">Project Plan</h4>
						<p>Create a socio-economic business model that would value Achuar culture and traditional livelihood through the sustainable use of natural resources.</p>
					</li>
					<li>
						<h4 class="pro">Curious Fact</h4>
						<p>The Achuar territory encompasses tributaries to the Amazon river whose headwaters are the lowland Amazon rainforest. This is why oil exploration activities in some parts of the Achuar land can cause disseminating devastation to vast areas of the rainforest.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="map_bg">
			<img src="../assets/images/map_img.png" alt="Map">
		</div>
	</aside>
	<!--Main right section-->
	<section class="main_content">
		<div class="main_para ../assets_width">
			<p>The Achuar, an indigenous rainforest community who live deep in the Amazon, maintain a rich

culture, including an intrinsic knowledge to create traditional medicines and products that are

naturally derived from the forest. But the community lacks the necessary infrastructure and the

skills to market their products and services outside of their territory or create a reliable source of

sustainable income.
</p>
		</div>
		<div class="quote_bg">
			<div class="quote ../assets_width">
				<p>“….our brothers and sisters of other indigenous peoples are getting sick from oil pollution. We

don't want that," <br>-Alejo Machutak, President of ORACH.</p>
<br>
			</div>
		</div>
		<div class="projects_bg">
			<div class="objectives ../assets_width">
				<h3>Project Objectives</h3>
				<ul>
					<li>Build a Traditional Medical Center
					<li>Construct a ../assets community well for clean water
					<li>Help find markets for the Achuar people to sell their medicine & craft
					<li>Provide Cultural and Environmental Education
					<li>Site Visits and Field Co-ordination
			</div>
		</div>
		<div class="help_sec ../assets_width">
			<h3>YOU CAN HELP</h3>
			<ul>
				<li>Community Well: <strong>$7,500</strong></li>
				<li>Traditional Medical Center: <strong>$100,000</strong></li>
				<li>Workshops (four annually): <strong>$10,000</strong></li>
				<li>Traditional Medicine Supplies: <strong>$25,000</strong></li>
				<li>Market Research & Application: <strong>$10,000</strong></li>
				<li>Cultural & Environmental Education</li>
				<li>Site Visits (six annually)</li>
			</ul>
		</div>

		<div class="quote_bg">
			<div class="quote ../assets_width">
				<p>“We have our own way of life, our own vision and a life plan," <br>-Peas Peas, President Achuar

Territory Federation</p>
<br>
			</div>
		</div>


	</section>
	<!--Support community-->
	<section class="support_comm">
		<div class="support_link">
			<a href="#">SUPPORT THE PEOPLE OF THE ACHUAR COMMUNITY <span><img src="../assets/images/blue_arrow.png" alt=""></span></a>
		</div>
		<ul>
			<li>
				<img src="../assets/images/history_img.png" alt="children">
				<div class="history">
					<div class="horigontal_align">
						<div class="vertical_align">
							<h4>history</h4>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="../assets/images/achievment_img.png" alt="Achievment">
				<div class="achievment">
					<div class="horigontal_align">
						<div class="vertical_align">
							<h4>achievments</h4>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="../assets/images/news_img.png" alt="news">
				<div class="news">
					<div class="horigontal_align">
						<div class="vertical_align">
							<h4>news</h4>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<!--support-->
	<section class="support">
		<div class="inner-container">
			<ul>
				<li>
					<div class="content">
						<img src="../assets/images/supporting.png" alt="supporting"/>
						<h4>supporting</h4>
						<span>14,872</span>
						<p>people</p>
					</div>
				</li>
				<li>
					<div class="content">
						<img src="../assets/images/preserving.png" alt="preserving"/>
						<h4>preserving</h4>
						<span>321,451,000</span>
						<p>trees</p>
					</div>
				</li>
				<li>
					<div class="content">
						<img src="../assets/images/storing.png" alt="storing"/>
						<h4>storing</h4>
						<span>7,629,375</span>
						<p>tons of CO<sub>2</sub></p>
					</div>
				</li>
				<li>
					<div class="content">
						<img src="../assets/images/protecting.png" alt="protecting"/>
						<h4>protecting</h4>
						<span>2,571,500</span>
						<p>acres</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
<!-- contact-us -->
	<section class="contact-us">
		<div class="wrapper-container">
			<h3>CONNECT WITH US</h3>
			<ul class="social">
				<li><a href="#"><img src="../assets/images/fb.png" alt="fb-icon"/></a></li>
				<li><a href="#"><img src="../assets/images/twitter.png" alt="twitter-icon"/></a></li>
				<li><a href="#"><img src="../assets/images/insta.png" alt="insta-icon"/></a></li>
				<li><a href="#"><img src="../assets/images/pin.png" alt="pin-icon"/></a></li>
			</ul>
		</div>
	</section>
<!-- js files -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/parallax.min.js"></script>
	<script src="../assets/js/jquery.meanmenu.min.js"></script>
	<script src="../assets/js/custom.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
</div>
</body>
</html>
