<!DOCTYPE html>
<html>
<head>
	<title>Rainforest | Colibri</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- css  -->
	<link href="../assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/media.css" rel="stylesheet" type="text/css">
	<link href="../assets/fonts/styles.css" rel="stylesheet" type="text/css">
	<link href="../assets/css/meanmenu.min.css" rel="stylesheet" type="text/css">
	<!-- metatag-viewport  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body id="project_page">
<div class="layout">
<!-- header -->
	<header class="header">
		<div class="container">
			<div class="header-left">
				<div class="logo">
					<a href="#"><img src="../assets/images/logo.png" alt="logo"></a>
				</div>
				<div class="navigation">
					<nav class="nav">
						<ul>
							<li><a href="#">home</a></li>
							<li><a href="#">our model</a></li>
							<li><a href="#">projects</a>
								<ul>
									<li><a href="#">SANISLA</a></li>
									<li><a href="#">CHIPAOTA</a></li>
									<li><a href="#">COLIBRI</a></li>
									<li><a href="#">ACHUAR</a></li>
									<li><a href="#">EDUCATION INITIATIVE</a></li>
								</ul>
							</li>
							<li><a href="#">get involved</a></li>
							<li><a href="#">blog</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header-right">
				<div class="links">
					<ul>
						<li><a href="#">SUPPORT THE PEOPLE</a></li>
						<li><a href="#">SAVE THE RAINFOREST</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!--Banner2 section-->
	<section class="banner2">
		<img src="../assets/images/banner2_img.png" alt="Banner">
		<div class="banner_rel">
			<div class="container">
				<img src="../assets/images/colibri.png" alt="Achuar">
			</div>
		</div>
	</section>
	<!--Key Facts section-->
	<aside class="sidebar">
		<div class="facts_wrapper">
			<div class="key_facts">
				<h3>KEY FACTS</h3>
				<ul>
					<li>
						<h4 class="loc">Location</h4>
						<p>Located in Peru’s “selva central” where the Andes meet the Amazon, in the communities of San Antonia and Calabaza. The communities are just a short distance from one another, are located in the Pampa Hermosa district of the Junín Region in eastern Peru. </p>
					</li>
					<li>
						<h4 class="pop">Land Size</h4>
						<p>10,000 acres (partner areas not included)</p>
					</li>
					<li>
						<h4 class="pop">Population</h4>
						<p>There are 30 families residing in the community of San Antonio and 20 families in the community of Calabaza.</p>
					</li>
					<li>
						<h4 class="thr">Threats</h4>
						<p>Deforestation from subsistence farming practiced by migrants from the Andean highlands; land use changes through the creation of pasturelands and illegal logging.</li>
					<li>
						<h4 class="pro">Project Plan</h4>
						<p>Establishing ecotourism by implementing a management plan, building capacity, and infrastructure.</p>
					</li>
					<li>
						<h4 class="pro">Partners</h4>
						<p>Municipal Government of Pampa Hermosa, University of Central Peru (UNCP), Provincial Government of Satipo, Regional Government of Junin, Victoria SAC Conservation Area, bird touring. </p>
					</li>

					<li>
						<h4 class="pro">Curious Fact</h4>
						<p>Being the transition zone between the Andes and the Amazon this region is still some of the least explored eco-systems in the world and are incredibly biodiverse, being home to more than one-third of 270 endemic species of birds, mammals and frogs.</li>
					</li>
				</ul>
			</div>
		</div>
		<div class="map_bg">
			<img src="../assets/images/map_img.png" alt="Map">
		</div>
	</aside>
	<!--Main right section-->
	<section class="main_content">
		<div class="main_para ../assets_width">
			<p>Since 2009, Rainforest Partnership has been the only non-profit organization working in the Colibri Cloudforest region with the communities of San Antonio and Calabaza. The untapped potential offered by this outlying region led us to support the communities in establishing basic eco-tourism ventures and conservation activities resulting in the generation of sustainable sources of income for the communities, without exploiting the forest resources in an area of  4,047 hectares (10,000 acres).

The successful on-going implementation of the eco-tourism businesses has helped gain the attention of multiple government entities in the region and we are currently engaged in creating conservation concession and regional protected areas in collaboration with them and the communities, leading to the protection of 100,000 hectares (247,000 acres) to 177,000 hectares (437,000 acres) of cloudforest.
</p>
		</div>
		<div class="quote_bg">
			<div class="quote ../assets_width">
				<p>Being the transition zone between the Andes and the Amazon this region is still some of the least explored eco-systems in the world and are incredibly biodiverse, being home to more than one-third of 270 endemic species of birds, mammals and frogs.

				</p>
			</div>
		</div>
		<div class="projects_bg">
			<div class="objectives ../assets_width">

				In the early years of the project, the communities made an agreement with Rainforest Partnership to commit to the conservation of their cloudforest region and over the years have taken key in-roads in this direction. Their initial conservation efforts included prohibiting the collection of butterflies and orchids; hunting of birds and bears; extraction of wood, and the cutting and burning of forests for pasture.

				Since then both the communities, with the help from Rainforest Partnership have been actively engaged in the development of their eco-tourism ventures including the construction of an eco-hostel in San Antonio and eco-lodge in Calabaza and honing their birding and tour-guiding experience. The Colibri Cloud forest is particularly noted for the vast number of different bird species that live there, making it a potential bird watchers paradise.

				These positive impacts have also spurred the communities to take their own steps forward in creating a more sustainable and hygienic environment in their villages by improving their common community infrastructures and setting up regular recycling and trash collection services, thereby keeping the surrounding area in its best natural state.

				Rainforest Partnership had and continues to have the support of several key partners in this project:

				<h3>Key Partners</h3>
				<ul>
					<li>Architects Without Borders – The Austin chapter of Architects Without Borders created the initial designs and blue print for the construction of the eco-hostel and the eco-lodge.</li>
					<li>Gunnar Engblom of Kolibri Expeditions – Gunnar Engblom is a biologist and birder based in Lima, Peru and owner of the company ‘Kolibri Expeditions’, which promotes conservation and social development through its eco-tourism mission. Kolibri Expeditions continues to partner with Rainforest Partnership and the communities, by regularly bringing tourists to the Colibri Cloudforest region and promoting the success of the eco-hostel and eco-lodge.</li>
					<li>University of Central Peru (UNCP) – UNCP has a 40-years concession on 15,000 hectares (37,000 acres) of forestland and is committed to protect and guarantee the conservation of the biodiversity and natural resources of the Colibri Cloudforest and provide evaluation and monitoring of local environmental impacts.</li>
					<li>Victoria Sac - Dr.Vladimir Izersky, an entomologist interested in the Colibri Cloudforest eco-system has created a 15,000 hectare (37,000 acres) conservation concession area in the region, in collaboration with Rainforest Partnership and the community of Calabaza.</li>
					<li>Regional Government in San Antonio and Calabaza - We are currently working with the regional government to create a regional protected area in the region. </li>
					<li>Municipal Government of Pampa Hermosa – The Municipal Government signed an agreement in recognition of their support of the project and will help fund needed tourist infrastructure and connectivity. (Info to be verified)</li>
				</ul>
			</div>
		</div>
		<div class="objectives ../assets_width">
			<h3>Achievments</h3>
			<ul>
				<li>The establishment of eco-tourism ventures in the two communities have led improvements in many sectors such as building and infrastructural development that have been beneficial for the communities on a whole. The partnership has helped in reinforcing the importance of cultural identity and is supporting to a greater extent the educational funding for children and young adults.</li>
				<li>From the bringing the first set of tourists to the communities, to currently bringing over 300 tourists every year, Kolibri Expeditions continues to be instrumental in bolstering the eco-tourism business in this region. </li>
				<li>Rainforest Partnership is also supporting the college education of the project coordinators in both the communities. Eusebio from San Antonio and Jordan from Calabaza are natural leaders in their communities and their higher education in business management, will place them in a good position to over-see the management and long-term sustainability of the eco-tourism ventures and secure the communities’ future. </li>
				<li>With the project’s progress in the last few years, the Peruvian Ministry of Environment, the Regional Government of Junín and the Provincial Government of Satipo have all shown an interest in working and partnering with Rainforest Partnership in this region. </li>
				<li>We are using this opportunity to expand upon our current eco-tourism project to broaden the conservation areas further beyond the project zones and establish a comprehensive forest protection to the region through the creation of a new “Cloudforest Conservation Initiative”. </li>
				<li>Cultural & Environmental Education</li>
				<li>As a part of the Cloudforest Conservation Initiative, our partner community of Calabaza has already started the process of creating a new conservation concession area of over 4,800 hectares (12,000 acres).</li>
			</ul>
		</div>
		<div class="objectives ../assets_width">
			<h3>Plans</h3>
			<p>Our 2015 objectives that would go towards meeting the long-term goals of the “Cloudforest Conservation Initiative” and enhancing the current project includes:</p>
			<ul>
				<li>Training workshops in San Antonio and Calabaza will be targeted towards increasing the competitiveness in the tourism sector in the two communities by strengthening their knowledge and capacity on agroforestry, business management, eco-tourism and environmental protection.</li>
				<li>Five-month field visit to the communities by Aaron Gaffney, an environmental specialist who has previously travelled to the communities. Some of the areas he will be working during that period includes undertaking land surveys and improvising birding trails; conduct workshops on monitoring and safe-guarding wildlife habitats; GPS mapping to mark topographical features; identifying the region’s unique potential tourist spots, to name a few. </li>
				<li>Rainforest Partnership is also supporting the college education of the project coordinators in both the communities. Eusebio from San Antonio and Jordan from Calabaza are natural leaders in their communities and their higher education in business management, will place them in a good position to over-see the management and long-term sustainability of the eco-tourism ventures and secure the communities’ future. </li>
				<li>With the project’s progress in the last few years, the Peruvian Ministry of Environment, the Regional Government of Junín and the Provincial Government of Satipo have all shown an interest in working and partnering with Rainforest Partnership in this region. </li>
				<li>We are using this opportunity to expand upon our current eco-tourism project to broaden the conservation areas further beyond the project zones and establish a comprehensive forest protection to the region through the creation of a new “Cloudforest Conservation Initiative”. </li>
				<li>Cultural & Environmental Education</li>
				<li>As a part of the Cloudforest Conservation Initiative, our partner community of Calabaza has already started the process of creating a new conservation concession area of over 4,800 hectares (12,000 acres).</li>
			</ul>
		</div>

	</section>
	<!--Support community-->
	<section class="support_comm">
		<div class="support_link">
			<a href="#">SUPPORT THE PEOPLE OF THE COLIBRI COMMUNITY <span><img src="../assets/images/blue_arrow.png" alt=""></span></a>
		</div>
		<ul>
			<li>
				<img src="../assets/images/history_img.png" alt="children">
				<div class="history">
					<div class="horigontal_align">
						<div class="vertical_align">
							<h4>history</h4>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="../assets/images/achievment_img.png" alt="Achievment">
				<div class="achievment">
					<div class="horigontal_align">
						<div class="vertical_align">
							<h4>achievments</h4>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="../assets/images/news_img.png" alt="news">
				<div class="news">
					<div class="horigontal_align">
						<div class="vertical_align">
							<h4>news</h4>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<!--support-->
	<section class="support">
		<div class="inner-container">
			<ul>
				<li>
					<div class="content">
						<img src="../assets/images/supporting.png" alt="supporting"/>
						<h4>supporting</h4>
						<span>14,872</span>
						<p>people</p>
					</div>
				</li>
				<li>
					<div class="content">
						<img src="../assets/images/preserving.png" alt="preserving"/>
						<h4>preserving</h4>
						<span>321,451,000</span>
						<p>trees</p>
					</div>
				</li>
				<li>
					<div class="content">
						<img src="../assets/images/storing.png" alt="storing"/>
						<h4>storing</h4>
						<span>7,629,375</span>
						<p>tons of CO<sub>2</sub></p>
					</div>
				</li>
				<li>
					<div class="content">
						<img src="../assets/images/protecting.png" alt="protecting"/>
						<h4>protecting</h4>
						<span>2,571,500</span>
						<p>acres</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
<!-- contact-us -->
	<section class="contact-us">
		<div class="wrapper-container">
			<h3>CONNECT WITH US</h3>
			<ul class="social">
				<li><a href="#"><img src="../assets/images/fb.png" alt="fb-icon"/></a></li>
				<li><a href="#"><img src="../assets/images/twitter.png" alt="twitter-icon"/></a></li>
				<li><a href="#"><img src="../assets/images/insta.png" alt="insta-icon"/></a></li>
				<li><a href="#"><img src="../assets/images/pin.png" alt="pin-icon"/></a></li>
			</ul>
		</div>
	</section>
<!-- js files -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/parallax.min.js"></script>
	<script src="../assets/js/jquery.meanmenu.min.js"></script>
	<script src="../assets/js/custom.js"></script>
</div>
</body>
</html>
